# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos locales
*.sqlite
*.db

# Archivos de logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Notebooks checkpoints
.ipynb_checkpoints/

# Carpetas de tests temporales
.pytest_cache/
